<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DonationBlazorServerSide</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addcontact">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Contact
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="contacts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Get Contacts
                </NavLink>
            </div>

        </AuthorizeView>

        @* Donation side *@
        <AuthorizeView Roles="Admin,Finance">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="adddonation">
                    <span class="oi oi-plus" aria-hidden="true"></span> Add Donation
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="donations">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Get Donations
                </NavLink>
            </div>
            @* Reports *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reportyeartodate">
                    <span class="oi oi-file" aria-hidden="true"></span> year-to-date Report
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reportdonorstaxreceipts">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Donors Tax Receipts
                </NavLink>
            </div>

        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
